VITE_RPC_URL=https://soroban-testnet.stellar.org
VITE_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
VITE_READ_ACCOUNT=
VITE_PLATFORM_OWNER=
VITE_REGISTRY_CONTRACT_ID=
VITE_CROWDFUNDING_CONTRACT_ID=
VITE_STAKING_CONTRACT_ID=
VITE_LAUNCHPAD_CONTRACT_ID=
VITE_ARYA_TOKEN_ID=
VITE_XLM_SAC_ID=
VITE_USDC_SAC_ID=
VITE_ERROR_TRACKING_ENDPOINT=
